/* MAIN */
:root {
  --ani-background-image: url("https://i.imgur.com/WGRuJbv.png");
}

.ani {
  position: relative;
  display: inline-block;
  margin: 0 0.4% 0.4% 0.4%;
  overflow: hidden;
  padding: 0.7rem;
  max-width: 780px;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 2px 6px 2px #00000080;
  border: 0.25rem solid;
  border-color: #3e0a45 #3e0d45 #3a0e40;
  background:
    linear-gradient(rgba(46, 10, 51, 0.5), rgba(46, 10, 51, 0)),
    linear-gradient(90deg, rgba(14, 4, 18, 0.5), rgba(14, 4, 18, 0)),
    linear-gradient(-90deg, rgba(46, 10, 51, 0.5), rgba(46, 10, 51, 0)),
    var(--ani-background-image);
}

.ani:hover {
  background: #2e0a33;
  box-shadow: 0 -200px 100px -120px #240924 inset;
  animation: background-ani 5s infinite alternate;
  border-color: #9256a0;
  background-image: var(--ani-background-image);
}

@keyframes background-ani {
  50% {
    background: #1a081c;
    box-shadow: 0 -200px 100px -100px #18091a inset;
    background-image: var(--ani-background-image);
  }
}
.ani-1 {
  --ani-background-image: url("https://imgur.com/7XzenwG.png");
}

.ani-2 {
  --ani-background-image: url("https://imgur.com/zFmzJdf.png");
}

.ani-3 {
  --ani-background-image: url("https://imgur.com/LDYZHxY.png");
}

.ani-4 {
  --ani-background-image: url("https://imgur.com/7ZxNHRV.png");
}

.ani-5 {
  --ani-background-image: url("https://imgur.com/6CE0DDo.png");
}

.ani-6 {
  --ani-background-image: url("https://imgur.com/bIyItSc.png");
}

.ani-7 {
  --ani-background-image: url("https://i.imgur.com/yb5FdgX.png");
}

.ani-8 {
  --ani-background-image: url("https://i.imgur.com/DmCoEDu.png");
}


   /*BOX SETTINGS*/
.ani_sid {
  display: block;
  float: left;
  height: 100%;
  padding: 0.75rem 1.75rem 0.75rem 0.1rem;
  margin-top: -1.3rem;
  margin-right: 0.1rem;
  line-height: 3;
  padding-bottom: 1.5625rem;
}

.ani-1 .b-image,
.ani-2 .b-image,
.ani-3 .b-image,
.ani-4 .b-image,
.ani-5 .b-image,
.ani-6 .b-image,
.ani-7 .b-image,
.ani-8 .b-image,
.ani-1 img.b-poster,
.ani-2 img.b-poster,
.ani-3 img.b-poster,
.ani-4 img.b-poster,
.ani-5 img.b-poster,
.ani-6 img.b-poster,
.ani-7 img.b-poster,
.ani-8 img.b-poster {
  vertical-align: text-top;
  border-radius: 0.25rem;
  border: 0.2rem solid !important;
  border-color: #3e0a45 #3e0d45 #3a0e40 !important;
  box-shadow: 0 2px 6px 2px #0000004d !important;
}

.ani-1 .b-image img,
.ani-2 .b-image img,
.ani-3 .b-image img,
.ani-4 .b-image img,
.ani-5 .b-image img,
.ani-6 .b-image img,
.ani-7 .b-image img,
.ani-8 .b-image img,
.ani-1 img.b-poster,
.ani-2 img.b-poster,
.ani-3 img.b-poster,
.ani-4 img.b-poster,
.ani-5 img.b-poster,
.ani-6 img.b-poster,
.ani-7 img.b-poster,
.ani-8 img.b-poster {
  object-fit: cover;
  height: 246px !important;
  min-width: 171px !important;
  max-width: 171px !important;
  transition: 0.35s all;
}

.ani-1:nth-child(1) .b-image img,
.ani-2:nth-child(1) .b-image img,
.ani-3:nth-child(1) .b-image img,
.ani-4:nth-child(1) .b-image img,
.ani-5:nth-child(1) .b-image img,
.ani-6:nth-child(1) .b-image img,
.ani-7:nth-child(1) .b-image img,
.ani-8:nth-child(1) .b-image img,
.ani-1:nth-child(1) img.b-poster,
.ani-2:nth-child(1) img.b-poster,
.ani-3:nth-child(1) img.b-poster,
.ani-4:nth-child(1) img.b-poster,
.ani-5:nth-child(1) img.b-poster,
.ani-6:nth-child(1) img.b-poster,
.ani-7:nth-child(1) img.b-poster,
.ani-8:nth-child(1) img.b-poster,
.ani-1:nth-child(2) .b-image img,
.ani-2:nth-child(2) .b-image img,
.ani-3:nth-child(2) .b-image img,
.ani-4:nth-child(2) .b-image img,
.ani-5:nth-child(2) .b-image img,
.ani-6:nth-child(2) .b-image img,
.ani-7:nth-child(2) .b-image img,
.ani-8:nth-child(2) .b-image img,
.ani-1:nth-child(2) img.b-poster,
.ani-2:nth-child(2) img.b-poster,
.ani-3:nth-child(2) img.b-poster,
.ani-4:nth-child(2) img.b-poster,
.ani-5:nth-child(2) img.b-poster,
.ani-6:nth-child(2) img.b-poster,
.ani-7:nth-child(2) img.b-poster,
.ani-8:nth-child(2) img.b-poster {
  object-position: center center;
}

.ani-1 .b-image .normalized_width,
.ani-2 .b-image .normalized_width,
.ani-3 .b-image .normalized_width,
.ani-4 .b-image .normalized_width,
.ani-5 .b-image .normalized_width,
.ani-6 .b-image .normalized_width,
.ani-7 .b-image .normalized_width,
.ani-8 .b-image .normalized_width,
.ani-1 img.normalized_width,
.ani-2 img.normalized_width,
.ani-3 img.normalized_width,
.ani-4 img.normalized_width,
.ani-5 img.normalized_width,
.ani-6 img.normalized_width,
.ani-7 img.normalized_width,
.ani-8 img.normalized_width {
  max-width: 100% !important;
}

.ani-1 .b-image .normalized_height,
.ani-2 .b-image .normalized_height,
.ani-3 .b-image .normalized_height,
.ani-4 .b-image .normalized_height,
.ani-5 .b-image .normalized_height,
.ani-6 .b-image .normalized_height,
.ani-7 .b-image .normalized_height,
.ani-8 .b-image .normalized_height,
.ani-1 img.normalized_height,
.ani-2 img.normalized_height,
.ani-3 img.normalized_height,
.ani-4 img.normalized_height,
.ani-5 img.normalized_height,
.ani-6 img.normalized_height,
.ani-7 img.normalized_height,
.ani-8 img.normalized_height {
  max-height: 246px !important;
}

.ani-1 .b-image img:hover,
.ani-2 .b-image img:hover,
.ani-3 .b-image img:hover,
.ani-4 .b-image img:hover,
.ani-5 .b-image img:hover,
.ani-6 .b-image img:hover,
.ani-7 .b-image img:hover,
.ani-8 .b-image img:hover,
.ani-1 img.b-poster:hover,
.ani-2 img.b-poster:hover,
.ani-3 img.b-poster:hover,
.ani-4 img.b-poster:hover,
.ani-5 img.b-poster:hover,
.ani-6 img.b-poster:hover,
.ani-7 img.b-poster:hover,
.ani-8 img.b-poster:hover {
  transform: scale(1.08);
  filter: blur(1px);
}

.finom-2 {
  display: grid;
  text-align: initial;
  position: relative;
  left: 1rem;
  color: #d7a0de;
  font-size: 0.9rem;
}

.finom-4 {
  display: block;
  float: right;
  height: 100%;
  padding: 0.75rem 1rem 0.75rem 0.1rem;
  margin-top: -12rem;
  margin-right: -1rem;
  line-height: 3;
  padding-bottom: 1.5625rem;
}
.finom-4 .b-image,
.finom-4 img.b-poster {
  vertical-align: text-top;
  border-radius: 0.25rem;
  border: 0.2rem solid !important;
  border-color: #3e0a45 #3e0d45 #3a0e40 !important;
  box-shadow: 0 2px 6px 2px #0000004d !important;
}
.finom-4 .b-image img,
.finom-4 img.b-poster {
  object-fit: cover; 
  max-height: 102px !important;
  min-width: 330px !important;
  max-width: 330px !important;
}
.finom-4 .b-image .normalized_width,
.finom-4 img.normalized_width {
  max-width: 100% !important;
}
.finom-4 .b-image .normalized_height,
.finom-4 img.normalized_height {
  max-height: 102px !important;
}

/* LOGOS */
a[href$="JeLYXy9.png"] {
  pointer-events: none;
}

a[href$="cIjLib0.png"] {
  pointer-events: none;
}

a[href$="D0AXqPh.png"] {
  pointer-events: none;
}

a[href$="bJPdWZ5.png"] {
  pointer-events: none;
}

a[href$="zkEpp22.png"] {
  pointer-events: none;
}

a[href$="vxF1Jjm.png"] {
  pointer-events: none;
}

a[href$="QzW2SUQ.png"] {
  pointer-events: none;
}

a[href$="JhPTY2q.png"] {
  pointer-events: none;
}

.finom-5 {
  position: relative;
  left: 1rem;
  top: 0.2rem;
  margin: 1rem 0 0 1rem;
  color: #d7a0de;
  text-align: initial;
  font-size: 0.9rem;
  text-shadow: 0 1px 2px #000000;
}

.finom-6 {
  position: relative;
  font-size: 0.8rem;
  margin-top: -1.2rem;
  text-align: center;
  justify-content: center;
  max-height: 9.375rem;
  overflow-x: hidden;
  display: grid;
  padding: 0.3125rem 1.3125rem 0.3125rem 0.75rem;
  border-radius: 4px;
  background: linear-gradient(to right, #3b0a45, #3c0d45, #370e40);
  text-shadow: 0 1px 2px #00000080;
  box-shadow: 0 2px 6px 2px #0000004d;
  color: #E6E6FA;
  float: left;
  width: calc(100% - 18%);
  height: 52px;
  align-items: center;
}
.finom-8 {
  position: relative;
  overflow: hidden;
  float: right;
  background: #2e0a33;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  bottom: 0.5rem;
  display: flex;
  line-height: normal;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid;
  border-color: #3e0a45 #3e0d45 #3a0e40;
  box-shadow: 0 2px 4px 1px #00000033;
  color: #ddafe8;
  text-shadow: 0 1px 2px #00000080;
  margin-top: -0.6rem;
  margin-right: 0.5rem;
}
.finom-8:after {
  content: "";
  display: block;
  width: 20px;
  height: 200px;
  margin-left: 50px;
  background: #fff;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.5) 100%
  );
  left: -40px;
  top: -100px;
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  animation: movingFlare 5s ease-in-out 0.05s infinite;
}
 
@keyframes movingFlare {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.ani_sid .b-image .marker {
  right: auto;
  left: 0.3125rem;
}
.ani_sid .b-image::after {
  position: absolute;
  display: block;
  content: "GLITCHWAVE";
  top: 0rem;
  right: 0;
  left: 0;
  opacity: 0;
  background: #3e0a45;
  color: #E6E6FA;
  padding: 0.74rem;
  box-shadow: 0 2px 4px 1px #0000004d;
  pointer-events: none;
  transition: opacity 0.35s ease;
  -webkit-transition: opacity 0.35s ease;
}
.ani_sid .b-image:hover::after {
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .ani_sid {
    display: flex;
    float: none;
    border-bottom: 3px solid #3e0a45;
    border-right: none;
    padding: 0.8rem 1rem 1.5rem 1rem;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 0.9375rem;
  }
  .finom-5 {
    margin-left: 0.3125rem;
  }
  .finom-4 {
    max-height: 12.5rem;
  }
  .finom-7,
  .finom-8 {
    display: none;
  }
  .finom-6 {
    width: 100%;
  }
}
/*END*/
